/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xl-hero-2-min: 1350px;

// Colors
$white: #fff;
$black: #000;
$ashgraydark: #181818;
$limeneon: #B2BF46;
$royaltandark: #6F4528;
$limeneondark: #879514;
$stonegraydark: #7C8185;
$stonegray: #B2B6B9;
$stonegraylight: #E5E8EA;
$royaltanlight: #CABDB4;
$limeneonlight: #E3EC99;
