/* =============
    Base
============= */
figure {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

main {
  display: grid;
  grid-template-areas:
    "header"
    "hero"
    "nextvisit"
    "imggallery"
    "whatsnew"
    "footer";

  .header {
    grid-area: header;
  }

  .hero {
    grid-area: hero;

    ul {
      display: grid;
    }

    a {
      display: grid;
      grid-template-columns: 300px auto;
    }

    @include md {
        ul {
            grid-template-columns: repeat(12, 1fr);

            .WTB {
                grid-column: span 5;
            }
            .location {
                grid-column: span 7;
            }
        }
    }
  }

  .nextvisit {
    grid-area: nextvisit;
  }

  ul {
		display: grid;
	}

	.plan {
		display: grid;
		grid-template-columns: 70% auto;
	}

	@include md {
		.plan {
			grid-template-columns: 400px auto;
		}
		ul {
			grid-template-columns: repeat(12, 1fr);
			grid-gap: 20px;
		}
	}

  .imggallery {
    grid-area: imggallery;

    ul {
        display: grid;
    }

    @include md{
        ul {
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
        img{
          width: 100%;
        }
        .img1 {
            grid-column: span 8;
            grid-row: span 6;
        }
        .img2 {
            grid-column: span 4;
            grid-row: span 6;
        }
    }
  }

  .whatsnew {
    grid-area: whatsnew;
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas:". whatsnew .";

    ul{
      grid-area: whatsnew;
      display: grid;
      grid-gap: 20px;
      grid-template-rows: repeat(5, 230px);
      grid-template-areas:
        "imgg1"
        "imgg2"
        "imgg3"
        "imgg4"
        "imgg5";

     @include md {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(3, 300px);
          grid-template-areas:
            "imgg1 imgg2"
            "imgg3 imgg4"
            "imgg5";
        }

        @include lg {
          grid-template-columns: repeat(3, 1fr);
          grid-template-areas:
            "imgg1 imgg2 imgg3"
            "imgg4 imgg5";
        }
  }
  }

  #footer {
    grid-area: footer;

    .socials ul {
      display: flex;
    }

    .locations {
      section ul li {
        display: grid;
        grid-template-columns: 20px 200px;
        grid-template-rows: 50px 50px;
      }
    }

    @include md{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-gap: 50px;
    }

    .locations {
      grid-column: 2 / 5;
      grid-row: 1 / 4;
    }

    .newsletter {
      grid-column: 5 / 6;
      grid-row: 1 / 2;
    }

    .socials {
        grid-column: 5 / 6;
      }
  }
}