/* =============
    Base
============= */
figure {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

main {
  display: grid;
  grid-template-areas:
    "header"
    "hero"
    "nextvisit"
    "imggallery"
    "whatsnew"
    "footer";

  .header {
    grid-area: header;
  }

  .hero {
    grid-area: hero;

    ul {
      display: grid;
    }

    a {
      display: grid;
      grid-template-columns: 300px auto;
    }

    @include md {
        ul {
            grid-template-columns: repeat(12, 1fr);

            .WTB {
                grid-column: span 5;
            }
            .location {
                grid-column: span 7;
            }
        }
    }
  }

  .nextvisit {
    grid-area: nextvisit;

    ul {
      display: grid;
    }
  }

  .imggallery {
    grid-area: imggallery;

    ul {
        display: grid;
    }

    @include md{
        ul {
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
        .blue {
            grid-column: span 6;
        }
        .white {
            grid-column: span 6;
        }
    }
  }

  .whatsnew {
    grid-area: whatsnew;
  }

  #footer {
    grid-area: footer;
  }

  margin-bottom: 24px;

  @include md {
    background-color: lightgray;
    margin-bottom: 32px;
  }

  @include xl {
    background-color: lightblue;
    margin-bottom: 64px;
  }
}
