/* =============
    Base
============= */
figure {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

main {
  display: grid;
  grid-template-areas:
    "header"
    "search"
    "hero"
    "nextvisit"
    "imggallery"
    "whatsnew"
    "footer";

  .header {
    grid-area: header;
  }

  .Heading {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". heading .";
    background-color: white;

    @include xl{
        grid-template-columns: auto 1000px auto;
    }

    >div{
        grid-area: heading;

        form{
            text-align: right;
            border-color: none;
        }

        input{
            background-color: white;
            border: none;
            color: $royaltandark;
            font-size: rem-calc(14);
            font-weight: 200;
        }

        @include md{
            //16px + 1m
            //1em = 1rem
            font-size: rem-calc(20);
        }

        @include lg{
             //16px + 1m
            //1em = 1rem
            font-size: rem-calc(25);
        }

        @include xl{
             //16px + 1m
            //1em = 1rem
            font-size: rem-calc(30);
        }
}

.search {
    height: 70px;
    margin: 30px 10px 0;

    form input {
        border: none;
        border-bottom: 1px solid $royaltandark;
        padding: 5px;
    }

    form button {
        background: $limeneon;
        border: none;
        border-radius: 4px;
        height: 50px;
    }
}
  }

  .hero {
    grid-area: hero;

    ul {
      display: grid;
    }

    a {
      display: grid;
      grid-template-columns: 300px auto;
    }

    @include md {
        ul {
            grid-template-columns: repeat(12, 1fr);

            .WTB {
                grid-column: span 5;
            }
            .location {
                grid-column: span 7;
            }
        }
    }
  }

  .nextvisit {
    grid-area: nextvisit;

    ul {
      display: grid;
    }
  
    .plan .content1{
      display: grid;
      grid-template-columns: 50% auto;
    }

    .plan .content2{
      display: grid;
      grid-template-columns: 50% auto;
    }
  
    @include md {
      ul {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
      }
      .content {
        display: grid;
        grid-template-columns: 150px auto;
      }
    }
  }

  

  .imggallery {
    grid-area: imggallery;

    ul {
        display: grid;
    }

    @include md{
        ul {
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
        img{
          width: 100%;
        }
        .img1 {
            grid-column: span 8;
            grid-row: 1 / 6;
        }
        .img2 {
            grid-column: span 4;
            grid-row: span 6;
        }
    }
    @include lg{
      .img2 {
        grid-column: span 4;
        grid-row: 1 / 3;
    }
      .img3 {
        grid-column: span 4;
        grid-row: 3 / 6;
    }
    }
  }

  .whatsnew {
    grid-area: whatsnew;

    ul{
      grid-area: whatsnew;
      display: grid;
      grid-gap: 20px;
      grid-template-areas:
        "imgg1"
        "imgg2"
        "imgg3"
        "imgg4"
        "imgg5";

     @include md {
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas:
            "imgg1 imgg1 imgg2 imgg2"
            "imgg3 imgg3 imgg4 imgg4"
            "imgg5 imgg5";
      }

       @include lg {
          grid-template-columns: repeat(3, 1fr);
          grid-template-areas:
            "imgg1 imgg1 imgg2 imgg2 imgg3 imgg3"
            "imgg4 imgg4 imgg5 imgg5";
      }
    }
  }

  #footer {
    grid-area: footer;

    ul {
      li {
        display: flex;
      }
       }
       
       .locations {
        section ul li {
          display: grid;
          grid-template-columns: 20px 200px;
        }
      }
      
      .socials ul {
        display: flex;
      }

      @include md {
        display: grid;
       grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "locations locations newsletter" 
        "locations locations socials";
          
          .locations {
            grid-area: locations;
          }
        
          .newsletter {
            grid-area: newsletter;
          }
        
          .socials {
            grid-area: socials;
          }
       }
        
        @include lg {
          grid-template-areas:
          "locations  newsletter socials";
        }
    }
}
