/* =============
    Hero
============= */
.hero-img{
    background: url("../../../deploy/images/campbell-3ZUsNJhi_Ik-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
}
    ul{
       li{
        display: grid;
        grid-template-columns: 48px auto 48px;
        grid-template-areas: ". hero .";
          
        a{
            grid-area: hero;
           }
       }
    }