/* =============
   Imggallery
============= */

.imggallery{

   ul{
      display: grid;
      li{
         img{
            width: 100%
         }
      }

      .IG3{
         display: none;
      }
   }
}