/* =============
   Imggallery
============= */
.imggallery{
   width: 100%;
   ul {
      display: grid;
   }
   
 }
      .img1 {
         background: url("../../../deploy/images/spencer-davis-_1QPm5XQJbA-unsplash.jpg");
         background-size: cover;
         background-repeat: no-repeat;
         height: 700px;
         width: 100%;
         background-position: center;

      }
      .img2 {
         background: url("../../../deploy/images/michal-mokrzycki-AD6aJvE5yKE-unsplash.jpg");
         background-size: cover;
         background-repeat: no-repeat;
         height: 700px;
         width: 100%;
      }

      .img3 {
         background: url("../../../deploy/images/OMC.jpg");
         background-size: cover;
         background-repeat: no-repeat;
         height: 500px;
         width: 100%;
         display: none;
      }

      @include md {
         .imggallery {
            height: 700px;
         }
      }

      @include lg{
         .img2 {
            background: url("../../../deploy/images/michal-mokrzycki-AD6aJvE5yKE-unsplash.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 400px;
            width: 100%;
            background-position: center;
         }
   
         .img3 {
            background: url("../../../deploy/images/OMC.jpg");
            display: block;
            height: 300px;
            width: 100%;
            background-position: center;
         }
      }