/* =============
   Imggallery
============= */

.imggallery{
   background: url("../../../deploy/images/nirmal-rajendharkumar-CiaI7-8TU6Q-unsplash.jpg");
   background: url("../../../deploy/images/spencer-davis-_1QPm5XQJbA-unsplash.jpg");
   background: url("../../../deploy/images/michal-mokrzycki-AD6aJvE5yKE-unsplash.jpg");
   width: 100vw;

   ul{
      display: grid;
      li{
         img{
            width: 100%
         }
      }

      .IG3{
         display: none;
      }
   }
}