/* =============
    Nextvisit
============= */
.nextvisit{
    .lambo {
        background: url("../../../deploy/images/lambo.png");
        background-size: cover;
    }
    .gP {
        background: url("../../../deploy/images/gP.png");
        background-size: cover;
    }
    
    .content1 {
        margin: 20px auto;
        padding: 20px;
        background: $stonegraydark;
     }
     .content2 {
        margin: 20px auto;
        padding: 20px;
        background: $stonegray;
     }

    .details  {
        color: white;
        padding: 20px;
    }

    button {
        background: $limeneon;
        padding: 10px 20px;
        border: none;

        &:hover {
            background: darken($limeneon, 20%);
        }
    }
 }

       