/* =============
    Whatsnew
============= */
.whatsnew{
    background: url("../../../deploy/images/craventure-media--il0HyQprwE-unsplash.jpg");
    background: url("../../../deploy/images/malusi-msomi-Xp__MGsQga8-unsplash.jpg");
    background: url("../../../deploy/images/joshua-koblin-eqW1MPinEV4-unsplash.jpg");
    background: url("../../../deploy/images/josh-berquist-PljkQ_KSbMc-unsplash.jpg");
    background: url("../../../deploy/images/BlueMC.png");

    ul{
       li{
           img{
               width: 100%;
           }
           section{
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". whatsnew .";
               >div{
                grid-area: whatsnew;
               }
           }
       }
    }
}