/* =============
    Whatsnew
============= */
.new-image {
	background-size: cover;
	width: 350px;
	height: 180px;
	margin: 20px;
}

#imgg1 {
	.new-image {
		background: url("../../../deploy/images/josh-berquist-PljkQ_KSbMc-unsplash.jpg") no-repeat;
		background-size: cover;
	}
}

#imgg2 {
	.new-image {
		background: url("../../../deploy/images/malusi-msomi-Xp__MGsQga8-unsplash.jpg") no-repeat;
		background-size: cover;
	}
}

#imgg3 {
	.new-image {
		background: url("../../../deploy/images/joshua-koblin-eqW1MPinEV4-unsplash.jpg") no-repeat;
		background-size: cover;
	}
}

#imgg4 {
	.new-image {
		background: url("../../../deploy/images/craventure-media--il0HyQprwE-unsplash.jpg") no-repeat;
		background-size: cover;
	}
}

#nimgg5 {
	.new-image {
		background: url("../../../deploy/images/Blue MC.jpg") no-repeat;
		background-size: cover;
	}
}
