/* =============
    Footer
============= */
#footer{
    display: grid;
    grid-template-areas: ". footer .";

    >div {
        grid-area: footer;
    }

    background: $ashgraydark;
    width: 100%;
    margin: 20px auto 0;

    .address{
        line-height: 1.5;
        border-bottom: 1px solod $limeneon;
        padding-bottom: 20px;
        a{
            font-size: rem-calc(12);
            text-decoration: none;
            color: $limeneon;
        }
    }


    .icon {
        color: $royaltanlight;
    }
    h4 {
        color: white;
    }
    h6 {
        color: $limeneon;
    }
    .address {
        color: $limeneonlight;
        font-size: rem-calc(12);
        a {
            color: $limeneonlight;
        }
    }

    .newsletter {
        form input {
            padding: 10px 30px;
        }

        button {
            background: $limeneon;
            border: none;
            padding: 5px 10px;
            margin: 10px;
        }
    }

    .socials a {
        color: white;
        padding: 0 10px 0 0;
    }


   
}
